services:
  odoo-dev:
    image: ${ODOO_IMAGE:-odoo:18.0}
    container_name: ${ODOO_CONTAINER_NAME:-elantar_odoo_dev}
    depends_on:
      - db-dev
    ports:
      - "${ODOO_PORT:-8070}:8069"
    environment:
      - HOST=${DB_HOST}
      - USER=${DB_USER}
      - PASSWORD=${DB_PASSWORD}
      - PROXY_MODE=True
      - WEB_BASE_URL=${WEB_BASE_URL}
      - LIST_DB=False
      - ADDONS_PATH=/usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons/addons,/mnt/extra-addons/oca-addons
    volumes:
      - odoo_data_dev:/var/lib/odoo
      - ./addons:/mnt/extra-addons/addons
      - ./oca-addons:/mnt/extra-addons/oca-addons
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.odoo_dev.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.odoo_dev.entrypoints=websecure"
      - "traefik.http.routers.odoo_dev.tls.certresolver=letsencrypt"
      - "traefik.http.services.odoo_dev.loadbalancer.server.port=8069"
    networks:
      - ${NETWORK_NAME}
    restart: unless-stopped
    command: 
      - /bin/bash
      - -c
      - |
        echo "Waiting for Traefik (${TRAEFIK_HOST})..."
        until timeout 1 bash -c "cat < /dev/null > /dev/tcp/${TRAEFIK_HOST}/80"; do
          echo "Traefik is not reachable yet. Retrying in 2s..."
          sleep 2
        done
        echo "Traefik is up! Starting Odoo..."
        /entrypoint.sh odoo
  db-dev:
    image: ${DB_IMAGE:-postgres:15}
    container_name: ${DB_CONTAINER_NAME:-odoo_db_dev}
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    networks:
      - ${NETWORK_NAME}
volumes:
  db_data_dev:
  odoo_data_dev:

networks:
  elantar_net:
    external: true
