services:
  odoo-dev:
    image: odoo:18.0
    container_name: elantar_odoo_dev
    depends_on:
      - db-dev
    ports:
      - "8070:8069"
    environment:
      - HOST=${ODOO_DB_HOST}
      - USER=${ODOO_DB_USER}
      - PASSWORD=${ODOO_DB_PASSWORD}
      - PROXY_MODE=${ODOO_PROXY_MODE}
      - WEB_BASE_URL=${ODOO_WEB_BASE_URL}
      - LIST_DB=${ODOO_LIST_DB}
      - ADMIN_PASSWD=${ODOO_ADMIN_PASSWORD}
    volumes:
      - odoo_data_dev:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./oca-addons:/mnt/oca-addons
      #- ./enterprise-addons:/mnt/enterprise-addons
    labels:
      - "traefik.enable=true"
      # Router principal para el sitio general (Redirecci칩n HTTP a HTTPS)
      - "traefik.http.routers.odoo_dev_http.rule=Host(`dev.erpelantar.com`)"
      - "traefik.http.routers.odoo_dev_http.entrypoints=web"
      - "traefik.http.routers.odoo_dev_http.middlewares=https-redirect"
      
      # Router principal HTTPS
      - "traefik.http.routers.odoo_dev.rule=Host(`dev.erpelantar.com`)"
      - "traefik.http.routers.odoo_dev.entrypoints=websecure"
      - "traefik.http.routers.odoo_dev.tls.certresolver=${TRAEFIK_CERT_RESOLVER:-letsencrypt}"
      - "traefik.http.routers.odoo_dev.priority=1"
      - "traefik.http.services.odoo_dev.loadbalancer.server.port=8069"
      
      # Router de seguridad para gesti칩n de bases de datos
      - "traefik.http.routers.odoo_db_secure.rule=Host(`dev.erpelantar.com`) && (PathPrefix(`/web/database/manager`) || PathPrefix(`/web/database/selector`))"
      - "traefik.http.routers.odoo_db_secure.entrypoints=websecure"
      - "traefik.http.routers.odoo_db_secure.tls.certresolver=${TRAEFIK_CERT_RESOLVER:-letsencrypt}"
      - "traefik.http.routers.odoo_db_secure.middlewares=odoo-db-auth"
      - "traefik.http.routers.odoo_db_secure.priority=100"
      
      # Middleware de Autenticaci칩n B치sica (admin:i67f-xz5v-7i73)
      # Nota: Los signos $ se duplican para evitar que Docker Compose los interprete como variables
      - "traefik.http.middlewares.odoo-db-auth.basicauth.users=admin:$$apr1$$VeBeF943$$2LZusntSlLp39pWqAzOME/"
    networks:
      - elantar_net
    restart: unless-stopped
    command: >
      --dev all
      --addons-path=/mnt/extra-addons,/mnt/oca-addons/web,/mnt/oca-addons/dms,/usr/lib/python3/dist-packages/odoo/addons
  
  db-dev:
    image: postgres:15
    container_name: odoo_db_dev
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    networks:
      - elantar_net

volumes:
  db_data_dev:
  odoo_data_dev:

networks:
  elantar_net:
    external: true
