services:
  odoo-dev:
    image: odoo:18.0
    container_name: elantar_odoo_dev
    depends_on:
      - db-dev
    ports:
      - "8070:8069" # Odoo accesible en http://localhost:8070
      - "8072:8072" # Longpolling para tiempo real (Websockets)
    environment:
      - HOST=${ODOO_DB_HOST}
      - USER=${ODOO_DB_USER}
      - PASSWORD=${ODOO_DB_PASSWORD}
      - PROXY_MODE=${ODOO_PROXY_MODE}
      - DATABASE=odoo_elantar_dev
    volumes:
      - odoo_data_dev:/var/lib/odoo
      - ./addons:/mnt/extra-addons
      - ./addons/n8n_bridge:/usr/lib/python3/dist-packages/odoo/addons/n8n_bridge
      - ./oca-addons:/mnt/oca-addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf
    networks:
      - elantar_net
    restart: unless-stopped
    command: >
        -c /etc/odoo/odoo.conf
        --max-cron-threads=2
        --addons-path=/mnt/extra-addons,/mnt/oca-addons/web,/mnt/oca-addons/dms,/mnt/oca-addons/helpdesk,/usr/lib/python3/dist-packages/odoo/addons

  db-dev:
    image: postgres:15
    container_name: odoo_db_dev
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db_data_dev:/var/lib/postgresql/data
    networks:
      - elantar_net

volumes:
  db_data_dev:
  odoo_data_dev:

networks:
  elantar_net:
    external: true
